// h1{
//     margin: 2%;
//     font-size: 50px;
// }
// h2{
//     margin-left: 4%;
//     font-size: 33px;
// }
p{
    margin-left: 2%;
}
input,select{
    margin: 4%;
    padding: .9rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1rem;
    font-family: helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
select:hover{
    cursor: pointer;
}